/* src/components/Auth.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 90%;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modal-logo {
    width: 100px;
    margin-bottom: 1rem;
  }
  
  .modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .modal-input {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
    display: block;
  }
  
  .modal-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .modal-button {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem auto;
    border: none;
    border-radius: 8px;
    background-color: #27381D;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
  }
  
  .modal-button:hover {
    background-color: #46610F;
  }
  
  .google-button {
    background-color: #BD2921;
  }
  
  .google-button:hover {
    background-color: #A94839;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
  
  .modal-footer {
    font-size: 0.875rem;
    color: #666;
  }
  
  .modal-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .modal-footer a:hover {
    text-decoration: underline;
  }
  
  .modal p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  
  .dropdown-content {
    padding: 1rem;
  }
  
  .dropdown-content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .dropdown-content p {
    font-size: 0.9rem;
    color: #666;
  }
  